<!DOCTYPE html>
<html>
<head>
	<title>Commune</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8"> 
	<meta name="description" content="Commune, a place for people to chat and share videos"> 
	<link href="http://ultimatehurl.com/src/commune/twitter-bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet"> 
	<link href="http://ultimatehurl.com/src/commune/style.css" rel="stylesheet"> 	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://ultimatehurl.com/src/commune/twitter-bootstrap/js/bootstrap-tab.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18046844-1']);
	  _gaq.push(['_setDomainName', 'ultimatehurl.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body id="index" onload="">
<div class="container">
    <div class="notfound span12">
			<h1>404 Not Found</h1>
			<img id="notfoundimg" src="http://ultimatehurl.com/src/commune/404.png" alt="404 Not found image.">
			<h2>Uh-oh, nobody's here!</h2>
			<h4>Either the url is wrong or nobody's left :( </h4>
			<a href="/">Return Home</a>
	  </div>
	<div id="footer" class="span2 offset10">by <a href="http://twitter.com/UltimateHurl">UltimateHurl</a></div>
</div>
</body>
</html>