<!DOCTYPE html>
<html>
<head>
	<title>Commune</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8"> 
	<meta name="description" content="Commune, a place for people to chat and share videos"> 
	<link href="http://ultimatehurl.com/src/commune/twitter-bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet"> 
	<link href="http://ultimatehurl.com/src/commune/style.css" rel="stylesheet"> 	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://ultimatehurl.com/src/commune/twitter-bootstrap/js/bootstrap-tab.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18046844-1']);
	  _gaq.push(['_setDomainName', 'ultimatehurl.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body id="index" onload="">
<div class="container">
    <div class="notfound span12">
			<h1>No Compatible Video Found</h1>
			<img id="notfoundimg" src="http://ultimatehurl.com/src/commune/badlink.png" alt="Not a valid video file">
			<h2>There doesn't seem to be a video that we currently support on that page</h2>
			<h4><a href="{{bad_link}}">Return to the page you came from</a> or <a href="/">visit Commune Home</a></h4>
	  </div>
	<div id="footer" class="span2 offset10">by <a href="http://twitter.com/UltimateHurl">UltimateHurl</a></div>
</div>
</body>
</html>
<!--
<div class="span12 row support">
	<h2>Supports</h2>
	<div class="span1 supicon">Youtube</div>
	<div class="span1 supicon">Vimeo</div>
	<div class="span1 supicon">Dailymotion</div>
	<div class="span1 supicon">Blip.tv</div>
	<div class="span1 supicon">Soundcloud</div>
	<div class="span1 supicon">USTREAM</div>
	<div class="span1 supicon">Justin.tv</div>
	<div class="span1 supicon">Twitch.tv</div>
	<div class="span1 supicon">Livestream</div>
	<div class="span1 supicon">Slideshare</div>
	<div class="span1 supicon">Imgur</div>
</div>
-->