<!DOCTYPE html>
<html>
<head>
	<title>Commune</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8"> 
	<meta name="description" content="Commune, a place for people to chat and share videos"> 
	<link href="http://ultimatehurl.com/src/commune/twitter-bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet"> 
	<link href="http://ultimatehurl.com/src/commune/style.css" rel="stylesheet">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18046844-1']);
	  _gaq.push(['_setDomainName', 'ultimatehurl.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script> 	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
	        $('#share_button').mouseenter(function(e) {
	            
	        }).mouseleave(function(e) {

	        });
			$('#share_button').click(function(){
				if(!$('#share_link').is(":visible")){
					$('#share_link').fadeIn(200);
					$('#share_link').select();
				}
				else{
					$('#share_link').fadeOut(200);
				}
				
			});	
	    });
	</script>
</head>
<body id="index" onload="">
<div class="container">
      <div class="span12">
			<div class="span3">
			  <div id="info">
			  <img src="http://ultimatehurl.com/src/commune/logo.png" />
		      <h1>Commune</h1>
			  <dl>
				<dt>Video Source:</dt>
				<dd><a href="{{video_source}}" target="_blank">{{video_source}}...</a></dd>
			    <dt>Quakenet.org IRC:</dt>  
			    <dd>#{{chat}}</dd>
			  </dl>
			  </div>
			  <div id="push"></div>
			  <div id="share">
		  	    <button id="share_button" class="btn btn-primary btn-large">Share <i class="icon-retweet icon-white"></i></button>
 		        <input type="text" id="share_link" value="http://ultimatehurl.com{{share_link}}"/>	
			  </div>
		    </div>
	    	<div id="video" class="span8">
				{{video_embed|safe}}
	    	</div>
	</div>
	<div id="chat" class="span12"><iframe id="irc" src="http://webchat.quakenet.org/?channels={{chat}}&uio=d4" width="900" height="400"></iframe></div>
	<div id="footer" class="span2 offset10">by <a href="http://twitter.com/UltimateHurl">UltimateHurl</a></div>
</div>
</body>
</html>